* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
  position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  padding-top: 580px;
  font-size: 18px;
}

.parentContainer {
  width: 100%;
  display: flex;
  background-color: white;
}

.pC1 {
  height: 70px;
  position: fixed;
  top: 0;
}

.cC1a,
.cC1b,
.cC1c,
.cC1d,
.cC1e,
.cC1f,
.cC1g {
  border: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cC1a {
  width: 25%;
}

.cC1b {
  width: 40%;
  border-right: none;
}

.cC1c {
  width: 10%;
  border-left: none;
}

.cC1d,
.cC1e,
.cC1f,
.cC1g {
  width: 6.25%;
}

.pC2 {
  height: 510px;
  background-image: url("https://www.esenzzia.com/modules/ps_imageslider/images/f84a8567c559b194fc58867a27b495da22b8a449_Post%20de%20Instagram%20rebajas%20ofertas%20descuentos%20femenino%20rosa%20(1947%C2%A0%C3%97%C2%A0876%C2%A0px)%20(1).png");
  background-size: cover;
  position: fixed;
  top: 70px;
  z-index: 0;
}

.btn-2a {
  background-color: black;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 400px;
  left: 50px;
  padding: 20px 100px 20px 100px;
  text-decoration: none;
}

.btn-2a:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: all 0.5s;
}

.btn-help {
  background-color: black;
  color: white;
  position: fixed;
  top: 530px;
  right: 50px;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  border: 2px solid white;
  z-index: 2;
}

.pC3 {
  border-top: 2px solid black;
}

.cC3a {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.cC3a1 {
  margin: auto;
  margin-top: 10px;
}

.cC3a2 {
  margin: 50px;
  font-weight: bold;
  font-size: 80px;
}

.cC3b {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 175px;
}

.cC3b1 {
  text-align: center;
}

.cC3b2 {
  text-align: center;
  font-size: 300px;
  border-bottom: 2px solid black;
}

.cC3b3 {
  display: flex;
}

.cC3b3a,
.cC3b3b {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.pC4 {
  justify-content: space-evenly;
}

.card {
  width: 20%;
  background-color: black;
  color: white;
}

.card > p {
  font-size: 15px;
  margin: 10px 0 10px 20px;
}

.num {
  font-size: 130px !important;
  font-weight: bold;
}

.tachado {
  text-decoration: line-through;
}
